/* visual, serch */
.visual {
    position: relative;
}

.search-bar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.search-bar {
    width: 40vw;
    height: 6vh;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.visual-image {
    width: 100%; 
    height: 460px; 
    opacity: 0.8;
}

/* 메인 기능 */

.Main_first {
    text-align: center;
    padding: 20px;
}

.Main_first h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.Main_card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: calc(25.33% - 40px);
    height: auto;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-description {
    margin-bottom: 10px;
}

.Main_first p {
    font-size: 1.2rem;
    margin-top: 20px;
}

/* 검색창 */
/* .search-history-container {
    position: absolute;
    top: 40px; 
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.search-history-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-history-item {
    padding: 8px 16px;
    display: flex;
    align-items: center;
}

.search-history-remove {
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #666666;
    font-weight: bold;
}

.search-history-remove:hover {
    color: #ff0000;
} */


/* 세컨드 Main */
.Main_second{
    text-align: center;
    padding: 20px;
}

.Main_second h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.Second-card {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .second-card-image {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .second-card-content {
    padding: 15px;
  }
  
  .second-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .second-card-info {
    margin-bottom: 10px;
  }
  
  .second-share-info,
  .second-comment-info {
    margin-right: 20px;
    font-size: 14px;
  }
  
  .second-user-info {
    display: flex;
    align-items: center;
  }
  
  .second-username {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .second-subtitle {
    font-size: 14px;
    color: #666;
  }
  